* {
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
  }
  
  .root {
    max-width: 1200px;
    background-color: rgb(243, 243, 243);
    font-size: 1.25rem;
    display: flex;
    margin: 0 auto;
  }
  .left {
    width: 30%;
    min-width: 260px;
    background-color: rgb(50, 48, 49);
    color: white;
    padding: 60px 0 0 30px;
    flex: none;
  }
  
  .label {
    background-color: rgb(1, 173, 239);
    font-size: 1.2rem;
    padding: 7px;
    margin-bottom: 10px;
  }
  .labelWrapper {
    margin: 20px 0 50px 0;
  }
  
  .labelText {
    display: flex;
    align-items: center;
    margin: 12px 0 12px 15px;
  }
  .labelText img {
    width: 20px;
  }
  .labelTextImage {
    width: 30px;
    height: 30px;
    background-color: rgb(1, 173, 239);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .labelTextInfo {
    margin-left: 15px;
    font-size: 1.1rem;
  }
  
  .nameFoto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto 40px auto;
  }
  .nameFoto img {
    border-radius: 50%;
    height: 150px;
    margin-bottom: 30px;
  }
  .nameFoto div {
    align-items: center;
    /* font-family: Verdana, Tahoma, sans-serif; */
    font-variant: small-caps;
  }
  .nameFoto .name {
    font-size: 1.8rem;
  }
  .nameFoto .prof {
    color: rgb(1, 173, 239);
    margin-top: 10px;
    font-size: 1.3rem;
    padding-right: 10px;
  }
  
  .right {
    width: 70%;
    height: 100%;
    background-color: white;
    color: rgb(50, 48, 49);
    padding: 40px 30px 20px 30px;
    font-family: Verdana, Tahoma, sans-serif;
  }
  
  .post {
    margin-bottom: 20px;
  }
  .headerRight {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .imageHeaderPost {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
  }
  .headerRight img {
    width: 30px;
  }
  .infoHeaderPost {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    font-variant: small-caps;
    border-bottom: 3px solid rgb(129, 124, 127);
    padding: 7px 0;
    margin-left: 20px;
  }
  .textPost {
    margin-left: 70px;
    font-size: 1rem;
  }
  .textPost ul {
    padding-left: 20px;
    margin: 5px 0;
  }
  
  a {
    text-decoration: none;
    color: rgb(50, 48, 49);
    border-bottom: solid 1px rgb(50, 48, 49);
  }
  
  li a:hover {
    text-shadow: 1px 1px 2px rgb(129, 124, 127);
    border-bottom: solid 2px rgba(50, 48, 49, 0.6);
  }
  
  @media (max-width: 800px) {
    .right {
      padding: 40px 20px 0 20px;
    }
  
    .labelTextImage {
      display: none;
    }
  
    .infoHeaderPost {
      font-size: 1.2rem;
    }
  
    .textPost {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 680px) {
    .left {
      min-width: 200px;
      padding: 20px 0 0 10px;
    }
  
    .imageHeaderPost {
      display: none;
    }
  
    .labelTextInfo {
      margin: 0;
    }
  
    .infoHeaderPost {
      margin-left: 10px;
    }
  
    .textPost {
      margin-left: 10px;
    }
  
    .post {
      margin-bottom: 10px;
    }
  
    .headerRight {
      margin-bottom: 10px;
    }
  }
  
  @media (max-width: 600px) {
    .left {
      min-width: 180px;
    }
  
    .nameFoto img {
      height: 100px;
    }
  
    .root,
    .labelTextInfo {
      font-size: 0.9rem;
    }
  
    .nameFoto .prof,
    .label {
      font-size: 1rem;
    }
  
    .labelText {
      margin-left: 0;
    }
  
    .nameFoto .name {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 500px) {
    .root {
      flex-direction: column;
    }
  
    .left {
      width: 100%;
      padding: 20px 30px 0 30px;
    }
  
    .nameFoto {
      margin-bottom: 10px;
    }
  
    .nameFoto img {
      margin: 0;
    }
  
    .labelWrapper {
      margin: 10px 0;
    }
  
    .labelText {
      display: block;
      margin-left: 15px;
    }
  
    .label {
      background-color: rgba(50, 48, 49);
      /* font-size: 1.1rem; */
      border-bottom: solid 1px rgb(243, 243, 243);
    }
  
    .right {
      width: 100%;
    }
  }